* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    justify-content: center;
    background-image: url('images/Website background.png');
    min-height: 100vh;
    background-attachment: fixed;
    background-repeat: repeat;   
}

/*styling the marquee tag*/
marquee {
    height: 22px;
    background-color: rgb(48 125 122 / 0.84);
    color: #e0e0e0;
    font-family: 'IM Fell French Canon', serif;
    font-style: italic;
    font-size: 18px;
}

/*header*/
header {
    width: 100%;
    top: 22px;
    right: 0;
    display: flex;
    padding: 8px;
    background-color: #eff5f4;
    color: #307D7A;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    z-index: 50;
    transition: all .4s ease;
}


/*logo styling*/
.logo {
    display: flex;
    align-items: center;
    padding-left: 3%;
}
/*logo*/
.logo_img {
    width: 85px;
    height: 80px;
    border-radius: 50%;
    margin-right: 20px;
    border: 1.2px solid red;
}

.logo_text {
    color: #000000;
    font-family: 'IM Fell French Canon', serif;
    font-size: 25px;
}

#logo_text2 {
    font-size: 18px;
}


/*navigation bar styling*/
#navigation-bar {
    display: flex;
    font-family: 'IM Fell French Canon', serif;
    font-style: italic;
    list-style: none;
    align-items: center;
    margin-right: 22px;
}

ul li {
    margin-right: 30px;
    font-size: 20px;
}

    ul li a {
        color: #307D7A;
        padding: 12px;
        border-radius: 5px;
        transition: all 0.5s;
    }
/*hover effect on nav bar*/
        ul li a:hover {
            background-color: #307D7A;
            color: #fff;
        }


/*hamburger menu*/
#bar {
    display: none;
    z-index: 20;
    font-size: 28px;
    cursor: pointer;
    margin-right: 20px;
}


/*styling the main heading*/
h1 {
    font-family: 'IM FELL French Canon';
    font-style: italic;
    font-weight: 400;
    color: #307D7A;
    background: linear-gradient(180deg, rgba(64, 182, 178, 0.29) 0%, rgba(64, 182, 178, 0) 100%);
    text-align: center;
    font-size: 88px;
    top: 24px;
    line-height: 220px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


/*container*/
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    border: medium;
    width: 80.49vw;
    height: 85.11vh;
    left: 10vw;
    right: 10vw;
}


/*container hover*/
    .container:hover {
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
    }
    .container .images {
        position: relative;
        height: 85.11vh;
        width: 80.49vw;
    }


/*styling the slider indicators*/
.btn {
    position: absolute;
    display: flex;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
}
    .btn span {
        height: 13px;
        width: 13px;
        border-radius: 140px;
        border: 2px solid white;
        margin: 0 3px;
        cursor: pointer;
    }


/*styling the left and right buttons*/
.image {
    background: white;
    width: 30px;
    position: absolute;
    top: 80%;
    height: 30px;
    padding: 2px;
    border: 1px solid gray;
    cursor: pointer;
    border-radius: 3px;
    transition: all 150ms ease;
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
    text-align: center;
}
    .image:hover {
        background: rgba(128, 128, 128, 0.2);
        transition: ease-in-out all .2s;
    }
.next {
    right: 43px;
    text-align: center;
}
.previous {
    left: 45px;
}
.image span {
    line-height: 25px;
    align-items: center;
    font-size: 16px;
}


/*styling the image cards*/
.bottom-container {
    width: 72.35vw;
    margin-top: 5.04vh;
    height: 34.60vh;
    display: flex;
    flex-direction: row;
    margin-left: 13vw;
    margin-right: 14vw;
}

.card {
    border: 1px solid #000;
    margin-left: 2.8vw;
    width: 16.08vw;
    text-align: center;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4);
    border-bottom-left-radius: 29px;
    border-bottom-right-radius: 29px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    height: 31.60vh;
    background: teal;
}
    .card img {
        width: 100%;
        object-fit: cover;
        height: 192px;
        border-bottom-left-radius: 29px;
        border-bottom-right-radius: 29px;
    }
#service a {
    background-color: teal;
    height: 35px;
    width: 215px;
    text-align: center;
    font-family: 'IM FELL French Canon';
    font-style: italic;
    font-weight: 400;
    font-size: 28px;
    line-height: 33px;
    color: #fff;
}


/*Hr section*/
#hr-section1 {
    align-items: center;
    font-size: 1.3rem;
    font-family: 'IM Fell French Canon', serif;
    font-style: italic;
    color: #000000;
    margin-top: 2rem;
    position: relative;
    text-align: center;
}

    #hr-section1:before {
        content: "";
        width: 37.91vw;
        height: 2.4px;
        background: teal;
        position: absolute;
        right: 9.33vw;
        top: 0.5%;
        z-index: -2;
    }
    #hr-section1:after {
        content: "";
        display: block;
        width: 36.91vw;
        height: 2.4px;
        background: teal;
        position: absolute;
        left: 10.10vw;
        top: 0.5%;
        z-index: -2;
    }

/*gallery*/
.gallery {
    width: 79.60vw;
    margin: auto;
    padding: 19px 0;
    margin-top: 1rem;
    margin-right:8.90vw;
    display: flex;
    background-image: url('images/bgg.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.image-gallery1 {
    display: flex;
    gap: 14px;
}
.gallery-container {
    display: flex;
    flex-direction: column;
    padding: 4px;
}
.gallery-container img {
    width: 100%;
    height: 100%;
    border-radius: 2px;
    object-fit: cover;
    outline-offset: -1.5rem;
}
    .gallery-container img:hover {
        outline: 0.2rem solid #307D7A;
        outline-offset: 0;
        transform: scale(1.02);
        cursor: pointer;
    }
/*adjusting the images in the image gallery container*/
.gallery-container #image1 {
    width: 25.49vw;
    height: 21.99vh;
}
.gallery-container #image2 {
    width: 10.33vw;
    height: 21.99vh;
}
.gallery-container #image3 {
    width: 10.33vw;
    height: 20.52vh;
    margin-top: -22.43vh;
}
.gallery-container #image4 {
    width: 25.49vw;
    height: 20.52vh;
    margin-top: -22.43vh;
}
.gallery-container #image5 {
    width: 18.60vw;
    height: 45.45vh;
}
.gallery-container #image6 {
    width: 19.98vw;
    height: 20.52vh;
    margin-left: -0.82vw;
}
.gallery-container #image7 {
    width: 8.95vw;
    height: 20.52vh;
    margin-left: 19.98vw;
    margin-top: -22.72vh;
}
.gallery-container #image8 {
    width: 8.95vw;
    height: 20.52vh;
    margin-top: -22.72vh;
    margin-left: -0.41vw;
}

/*image popup*/
.gallery .popup-img{
    position: fixed;
    top:0;
    left:0;
    background: rgba(0, 0, 0, 0.9);
    height: 100%;
    width: 100%;
    z-index: 80;
    display: none;
}
    .gallery .popup-img span {
        position: absolute;
        top: 0;
        right: 15px;
        font-size: 50px;
        font-weight: bolder;
        color: #307D7A;
        cursor: pointer;
    }
    .gallery .popup-img img{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: 2px solid #e0e0e0;
        border-radius: 2px;
        width: 51.26vw;
        object-fit: cover;
    }

/*Footer*/
footer {
    /*background-color: #6f6e6e;*/
    background-color: #4B4B4B;
    bottom: 0;
    z-index: 10000;
}

.footer-container{
    justify-content: space-between;
    align-items: center;
    display: flex;
    height: 250px;
    color: #e0e0e0;
}

.footer-container > div{
    margin-left: 7%;
    margin-right: 9%;
}

/*Footer - 1st div*/
.social-media{
    text-align: center;
}

.social-media > i{
    cursor: pointer;
    border: 1px solid #e0e0e0;
    border-radius: 50px;
    padding: 6px;
    margin-top: 10px;
    margin-right: 13px;
}

.social-media > h2 {
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-size: 35px;
    text-transform: uppercase;
    text-shadow: 2px 1px 3px rgba(0, 0, 0, 0.50);
    margin-bottom: 8px;
    font-weight: 400;
}

.social-media > p {
    font-family: 'Inter', sans-serif;
    font-style: italic;
}

/*Footer - 2nd div*/
.working-hours{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
}

.working-hours > h2{
    font-size: 23px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    font-weight: 400;
}

.working-hours > p{
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 1px;
    text-align: match-parent;
}

.mail{
    margin-left: 20px;
}

form > .call, .mail{
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
    outline: none;
    border-radius: 6px;
    padding: 6px 30px;
    cursor: pointer;
    font-family: 'IM Fell French Canon', serif;
    font-style: italic;
    font-size: 15px;
    transition: all .4s ease;
}

.call:hover, .mail:hover{
    transform: translateX(5px);
}

.info-button {
    display: flex;
    margin-top: 21px;
}

/*Footer - 3rd div*/
.location{
    text-align: center;
}

.location > a > i{
    color: #fff;
    font-size: 50px;
}

.location > p{
    font-size: 15px;
    font-style: normal;
    font-family: 'Inter', sans-serif;
    line-height: 25px;
}

/*Copyright text*/
.cr-hr {
    margin: auto;
    width: 85%;
    text-align: center;
    background-color: #e0e0e0;
    height: 2px;
}

.copyright {
    background-color: #4B4B4B;
    color: #e0e0e0;
    font-size: 16px;
    letter-spacing: 0.5px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

/*media queries for tablet*/
@media only screen and (max-width: 1200px){

/*header section*/
    header {
        padding: 14px 0;
        transition: .2s;
    }

    ul li a {
        font-size: 18px;
    }

    .logo_img {
        width: 75px;
        height: 70px;
        margin-right: 14px;
    }

    .logo_text {
        font-size: 18px;
    }

    #logo_text2 {
        font-size: 14.5px;
    }

/*main heading*/
    h1 {
        font-size: 68px;
    }

/*image slider container*/
    .container {
        width: 83.49vw;
        height: 65.11vh;
        left: 7vw;
        right: 7vw;
    }

        .container .images {
            height: 65.11vh;
            width: 83.49vw;
        }

/*previous and next image buttons*/
    .image {
        width: 17px;
        position: absolute;
        top: 72%;
        height: 17px;
        padding: 4px;
    }

        .image span {
            line-height: 2px;
            font-size: 14px;
        }

    .next {
        right: 18px;
    }

    .previous {
        left: 18px;
    }

/*styling the image cards*/
    .bottom-container {
        width: 72.35vw;
        margin-top: 5.04vh;
        height: 14.60vh;
        margin-left: 13vw;
        margin-right: 14vw;
    }

    .card {
        margin-left: 2.8vw;
        width: 36.08vw;
        text-align: center;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        height: 5.60vh;
        background: white;
    }
    .card img{
        display: none;
        background: white;
    }
    #service a {
        background-color: white;
        height: 35px;
        width: 215px;
        font-weight: 400;
        font-size: 18px;
        line-height: 33px;
        color: #307D7A;
    }

/*Hr section*/
    #hr-section1 {
        font-size: 1.3rem;
        color: #000000;
        margin-top: 2rem;
        position: relative;
    }

        #hr-section1:before {
            width: 35.81vw;
            height: 2.4px;
            right: 7.33vw;
            top: 0.7%;
            z-index: -2;
        }

        #hr-section1:after {
            width: 35.81vw;
            height: 2.4px;
            left: 7.10vw;
            top: 0.7%;
            z-index: -2;
        }

/*gallery section*/
    .gallery {
        width: 83.50vw;
        margin: auto;
        padding: 19px 0;
        margin-top: 1rem;
        margin-right: 7.90vw;
    }
    .image-gallery1 {
        gap: 10px;
        width: 82.90vw;
    }
    .gallery-container img{
        width: 80%;
        height: 80%;
    }
    .gallery-container #image1 {
        width: 26.49vw;
        height: 22.99vh;
    }
    .gallery-container #image2 {
        width: 11.33vw;
        height: 22.99vh;
    }
    .gallery-container #image3 {
        width: 11.33vw;
        height: 21.52vh;
        margin-top: -22.43vh;
    }
    .gallery-container #image4 {
        width: 26.49vw;
        height: 21.52vh;
        margin-top: -22.43vh;
    }
    .gallery-container #image5 {
        width: 19.60vw;
        height: 46.45vh;
    }
    .gallery-container #image6 {
        width: 20.98vw;
        height: 21.52vh;
        margin-left: -0.13vw;
    }
    .gallery-container #image7 {
        width: 9.95vw;
        height: 21.52vh;
        margin-left: 20.98vw;
        margin-top: -22.72vh;
    }
    .gallery-container #image8 {
        width: 9.95vw;
        height: 21.52vh;
        margin-top: -22.72vh;
        margin-left: -0.41vw;
    }

     /*footer section*/
    .footer-container {
        display: block;
        height: 360px;
    }

    .social-media {
        padding-top: 20px;
    }

        .social-media > i {
            margin-top: 10px;
            margin-right: 2px;
            font-size: 13px;
        }

        .social-media > h2 {
            font-size: 16px;
        }

        .social-media > p {
            margin-top: -2px;
            font-size: 13px;
        }

    /*2nd div*/
    .working-hours {
        text-align: center;
        padding-top: 23px;
    }

        .working-hours > h2 {
            font-size: 16px;
            letter-spacing: 0.10em;
        }

        .working-hours > p {
            font-size: 11px;
            line-height: 20px;
            letter-spacing: 1px;
        }

    #working-text {
        margin-top: -13px;
    }

    .info-button {
        justify-content: center;
        align-items: center;
        margin-top: 10px;
    }

    .mail {
        margin-left: 11px;
    }

    form > .call, .mail {
        padding: 4px 18px;
        font-size: 13px;
    }

    /*3rd div*/
    .location {
        padding-top: 20px;
    }

        .location > a > i {
            font-size: 25px;
        }

        .location > p {
            line-height: 18px;
            font-size: 13px;
        }

    #location-text {
        margin-top: -2px;
    }

    /*copyright*/
    .cr-hr {
        margin-top: 15px;
    }

    .copyright {
        font-size: 12px;
    }
}
/*Media query for mobile*/
@media only screen and (max-width: 600px) {

/*header*/
    #bar {
        display: block;
    }
 /*navigation bar*/
    #navigation-bar {
        position: absolute;
        top: 100%;
        right: -150%;
        width: 280px;
        height: fit-content;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        border-radius: 10px;
        transition: all .4s ease;
        background-color: #307D7A;
    }

    ul li a {
        color: white;
        display: block;
        margin: 8px 0;
        padding: 10px 20px;
        transition: all .4s ease;
    }

        ul li a:hover {
            background-color: transparent;
            color: #ffffff;
            transform: translateX(3.4px);
        }

    #navigation-bar.show {
        right: 2%;
    }

/*main heading*/
    h1 {
        font-size: 58px;
    }

/*image slider container*/
    .container {
        width: 83.49vw;
        height: 35.11vh;
        left: 7vw;
        right: 7vw;
    }
        .container .images {
            height: 35.11vh;
            width: 83.49vw;
        }
/*previous and next image buttons*/
    .image {
        width: 17px;
        position: absolute;
        top: 57%;
        height: 17px;
        padding: 3px;
    }
        .image span {
            line-height: 2px;
            font-size: 12px;
        }
    .next {
        right: 3px;
    }

    .previous {
        left: 5px;
    }

/*card container*/
    .card {
        color:#307D7A;
    }

/*Hr section*/
    #hr-section1 {
        font-size: 1.3rem;
        color: #000000;
        margin-top: 1rem;
        position: relative;
    }

        #hr-section1:before {
            width: 34.81vw;
            height: 2.2px;
            right: 7.33vw;
            top: 0.8%;
        }

        #hr-section1:after {
            width: 34.87vw;
            height: 2.2px;
            left: 7.10vw;
            top: 0.8%;
        }


/*gallery section*/
    .gallery {
        width: 78.50vw;
        margin: auto;
        padding: 19px 0;
        margin-top: 1rem;
        margin-right: 12.90vw;
    }
    .image-gallery1 {
        gap: 10px;
        width: 82.90vw;
    }
    .gallery-container img {
        width: 70%;
        height: 70%;
    }
    
    .gallery-container #image1 {
        width: 22.49vw;
        height: 17.99vh;
    }
    .gallery-container #image2 {
        width: 12.33vw;
        height: 17.99vh;
        margin-left: -0.93vw;
    }
    .gallery-container #image3 {
        width: 14.33vw;
        height: 17.52vh;
        margin-top: -18.43vh;
    }
    .gallery-container #image4 {
        width: 20.49vw;
        height: 17.52vh;
        margin-top: -18.43vh;
        margin-left: -0.83vw;
    }
    .gallery-container #image5 {
        width: 19.60vw;
        height: 36.45vh;
        margin-left: -0.93vw;
    }
    .gallery-container #image6 {
        width: 21.98vw;
        height: 17.52vh;
        margin-left: -0.93vw;
    }
    .gallery-container #image7 {
        width: 9.95vw;
        height: 17.52vh;
        margin-left: 20.48vw;
        margin-top: -18.72vh;
    }
    .gallery-container #image8 {
        width: 9.95vw;
        height: 17.52vh;
        margin-top: -18.72vh;
        margin-left: -0.91vw;
    }

/*footer section*/
    footer {
        bottom: 0;
    }

    .footer-container {
        display: block;
        height: 360px;
    }

    .social-media {
        padding-top: 20px;
    }

        .social-media > i {
            margin-top: 10px;
            margin-right: 2px;
            font-size: 13px;
        }

        .social-media > h2 {
            font-size: 16px;
        }

        .social-media > p {
            margin-top: -2px;
            font-size: 13px;
        }

    /*2nd div*/
    .working-hours {
        text-align: center;
        padding-top: 23px;
    }

        .working-hours > h2 {
            font-size: 16px;
            letter-spacing: 0.10em;
        }

        .working-hours > p {
            font-size: 11px;
            line-height: 20px;
            letter-spacing: 1px;
        }

    #working-text {
        margin-top: -13px;
    }

    .info-button {
        justify-content: center;
        align-items: center;
        margin-top: 10px;
    }

    .mail {
        margin-left: 11px;
    }

    form > .call, .mail {
        padding: 4px 18px;
        font-size: 13px;
    }

    /*3rd div*/
    .location {
        padding-top: 30px;
    }

        .location > a > i {
            font-size: 25px;
        }

        .location > p {
            line-height: 18px;
            font-size: 13px;
        }

    #location-text {
        margin-top: -2px;
    }

    /*copyright*/
    .cr-hr {
        margin-top: 20px;
    }

    .copyright {
        font-size: 12px;
    }
}
@media only screen and (max-width: 1024px) {
    /*footer section*/
    footer {
        font-size: 12px;
    }
}
