@import url("https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon:ital@0;1&family=Inter&family=Montserrat:wght@200&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none; }

/*styling the marquee tag*/
marquee {
  height: 22px;
  background-color: rgba(48, 125, 122, 0.84);
  color: #e0e0e0;
  font-family: 'IM Fell French Canon', serif;
  font-style: italic;
  font-size: 18px; }

body {
  background-image: url("images/background.png"); }

header {
  width: 100%;
  right: 0;
  display: flex;
  padding: 8px;
  background-color: #eff5f4;
  color: #307D7A;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  z-index: 10;
  transition: all .4s ease; }

.logo {
  display: flex;
  align-items: center;
  padding-left: 3%; }

.logo_img {
  width: 85px;
  height: 80px;
  border-radius: 50%;
  margin-right: 20px;
  border: 1.2px solid red; }

.logo_text {
  color: #000000;
  font-family: 'IM Fell French Canon', serif;
  font-size: 25px; }

#logo_text2 {
  font-size: 18px; }

#navigation-bar {
  display: flex;
  font-family: 'IM Fell French Canon', serif;
  font-style: italic;
  list-style: none;
  align-items: center;
  margin-right: 22px; }

ul li {
  margin-right: 30px;
  font-size: 20px; }

ul li a {
  color: #307D7A;
  padding: 12px;
  border-radius: 5px;
  transition: all 0.5s; }

ul li a:hover {
  background-color: #307D7A;
  color: #fff; }

#bar {
  display: none;
  z-index: 20;
  font-size: 28px;
  margin-right: 20px; }

@media only screen and (max-width: 1200px) {
  header {
    padding: 14px 0;
    transition: .2s; }
  ul li a {
    font-size: 18px; }
  .logo_img {
    width: 75px;
    height: 70px;
    margin-right: 14px; }
  .logo_text {
    font-size: 18px; }
  #logo_text2 {
    font-size: 14.5px; } }

@media only screen and (max-width: 940px) {
  #bar {
    display: block; }
  #navigation-bar {
    position: absolute;
    top: 100%;
    right: -100%;
    width: 280px;
    height: 50vh;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    border-radius: 10px;
    transition: all .4s ease;
    background-color: #307D7A; }
  ul li a {
    color: white;
    display: block;
    margin: 8px 0;
    padding: 10px 20px;
    transition: all .4s ease; }
  ul li a:hover {
    background-color: transparent;
    color: #ffffff;
    transform: translateX(3.4px); }
  #navigation-bar.show {
    right: 2%; } }

.main_head {
  background-image: linear-gradient(180deg, rgba(64, 182, 178, 0.241422) 0%, rgba(255, 255, 255, 0) 100%);
  font-family: "Georgia pro", serif;
  font-style: italic;
  color: #307d7a;
  font-size: 5vw;
  text-align: center;
  margin-top: 80px;
  padding-top: 50px; }
  @media screen and (min-width: 480px) and (max-width: 800px) {
    .main_head {
      font-size: 10vw; } }
  @media screen and (max-width: 479px) {
    .main_head {
      font-size: 15vw; } }

.about_info {
  width: 100%;
  padding: 2vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: left;
  align-items: center;
  font-family: "Georgia pro", serif;
  font-style: italic;
  color: white;
  font-size: 1.4vw;
  background-image: linear-gradient(180deg, rgba(48, 125, 122, 0.647584) 0%, rgba(48, 125, 122, 0.650385) 100%), url("images/bg.png");
  background-repeat: no-repeat;
  background-size: cover; }
  .about_info > div {
    margin: 20px;
    width: 45%; }
    .about_info > div img {
      max-width: 100%; }
  @media screen and (min-width: 480px) and (max-width: 800px) {
    .about_info {
      flex-direction: column; }
      .about_info > div {
        width: 80%; }
      .about_info .about_text {
        font-size: 2.2vw; } }
  @media screen and (max-width: 479px) {
    .about_info {
      flex-direction: column; }
      .about_info > div {
        width: 80%; }
      .about_info .about_text {
        font-size: 3.2vw; } }

/*Hr section*/
.hr-section {
  display: flex;
  flex-basis: 100%;
  align-items: center;
  font-family: "Georgia pro", serif;
  font-style: italic;
  color: #307d7a;
  font-size: 1.3rem;
  margin: 45px 100px; }
  @media screen and (min-width: 480px) and (max-width: 800px) {
    .hr-section {
      font-family: "Georgia pro", serif;
      font-style: italic;
      color: #307d7a;
      font-size: 1.2rem;
      margin: 45px 50px; } }
  @media screen and (max-width: 479px) {
    .hr-section {
      font-family: "Georgia pro", serif;
      font-style: italic;
      color: #307d7a;
      font-size: 1rem;
      margin: 45px 30px; } }

.hr-section:before,
.hr-section:after {
  content: "";
  flex-grow: 1;
  background: rgba(48, 125, 122, 0.56);
  height: 2.4px;
  font-size: 0;
  line-height: 0;
  margin: 0 8px; }

.rev_outer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  text-align: center;
  align-items: center; }
  .rev_outer .rev_single {
    width: 20%;
    margin: 0.5%;
    background: #fff;
    padding: 2%;
    height: 50%; }
    @media screen and (min-width: 480px) and (max-width: 800px) {
      .rev_outer .rev_single {
        width: 30%;
        margin: 2%; } }
    @media screen and (max-width: 479px) {
      .rev_outer .rev_single {
        width: 80%;
        margin: 2%; } }
    .rev_outer .rev_single img {
      width: 25%;
      height: 20%;
      border-radius: 50%; }
    .rev_outer .rev_single .name {
      font-size: 1.2vw;
      text-transform: uppercase;
      margin: 20px 0; }
      @media screen and (min-width: 480px) and (max-width: 800px) {
        .rev_outer .rev_single .name {
          font-size: 2.2vw; } }
      @media screen and (max-width: 479px) {
        .rev_outer .rev_single .name {
          font-size: 3.2vw; } }
    .rev_outer .rev_single .rate {
      color: #6ab04c;
      margin-bottom: 20px; }
    .rev_outer .rev_single p {
      font-size: 0.9vw; }
      @media screen and (min-width: 480px) and (max-width: 800px) {
        .rev_outer .rev_single p {
          font-size: 1.2vw; } }
      @media screen and (max-width: 479px) {
        .rev_outer .rev_single p {
          font-size: 2.2vw; } }
  .rev_outer .hide {
    display: block; }
    @media screen and (min-width: 480px) and (max-width: 800px) {
      .rev_outer .hide {
        display: none; } }
    @media screen and (max-width: 479px) {
      .rev_outer .hide {
        display: none; } }

.View_more {
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-top: 20px; }
  .View_more .btn {
    padding: 5px 20px 5px 20px;
    background-color: transparent;
    border: 2px solid #307d7a;
    border-radius: 5px;
    display: inline; }
    .View_more .btn a {
      color: white; }
  .View_more .btn:hover, .View_more .btn:focus {
    color: #000000;
    outline: 0; }
    .View_more .btn:hover a, .View_more .btn:focus a {
      color: black; }
  .View_more .effect {
    border-color: #307d7a;
    color: #ffffff;
    box-shadow: 0 0 40px 40px #307d7a inset, 0 0 0 0 #307d7a;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out; }
  .View_more .effect:hover {
    box-shadow: 0 0 10px 0 #307d7a inset, 0 0 10px 4px #307d7a; }

.salon_location {
  font-family: "Georgia pro", serif;
  font-style: italic;
  color: white;
  font-size: 1.5vw; }
  .salon_location p {
    margin: 5% 10% 5% 20%; }
  @media screen and (min-width: 480px) and (max-width: 800px) {
    .salon_location {
      font-size: 2.5vw;
      text-align: center; }
      .salon_location p {
        margin: 0 0 2% 0; } }
  @media screen and (max-width: 479px) {
    .salon_location {
      font-size: 3.5vw;
      text-align: center; }
      .salon_location p {
        margin: 0 0 2% 0; } }

.map {
  width: 45vw;
  height: 18vw;
  border: 2px solid #307D7A;
  border-radius: 20px; }
  @media screen and (min-width: 480px) and (max-width: 800px) {
    .map {
      width: 100%;
      height: 25vw; } }
  @media screen and (max-width: 479px) {
    .map {
      width: 100%;
      height: 25vw; } }

/*Footer*/
.footer-container {
  justify-content: space-between;
  align-items: center;
  display: flex;
  height: 250px;
  color: #e0e0e0; }

.footer-container > div {
  margin-left: 8%;
  margin-right: 9%; }

/*Footer - 1st div*/
.social-media {
  text-align: center; }

.social-media-icons {
  margin-top: 15px; }

.social-media-icons > a {
  color: #e0e0e0;
  font-size: 15px;
  font-style: normal;
  cursor: pointer;
  border: 1px solid #e0e0e0;
  border-radius: 100px;
  padding: 5px; }

.social-media > h2 {
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
  font-size: 35px;
  text-transform: uppercase;
  text-shadow: 2px 1px 3px rgba(0, 0, 0, 0.5);
  margin-bottom: 8px; }

.social-media > p {
  font-family: 'Inter', sans-serif;
  font-style: italic; }

/*Footer - 2nd div*/
.working-hours {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600; }

.working-hours > h2 {
  font-size: 22px;
  letter-spacing: 0.15em;
  text-transform: uppercase; }

.working-hours > p {
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 1px; }

.mail {
  margin-left: 2px; }

.form > .call, .mail {
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
  outline: none;
  border-radius: 6px;
  padding: 6px 20px;
  cursor: pointer;
  font-family: 'IM Fell French Canon', serif;
  font-style: italic;
  font-size: 14px;
  transition: all .4s ease; }

.call:hover, .mail:hover {
  transform: translateX(5px); }

.info-button {
  display: flex;
  margin-top: 21px; }

/*Footer - 3rd div*/
.location {
  text-align: center; }

.location > a > i {
  color: #fff;
  font-size: 50px; }

.location > p {
  font-family: 'Inter', sans-serif;
  line-height: 25px; }

/*Copyright text*/
.cr-hr {
  margin: auto;
  width: 85%;
  text-align: center;
  background-color: #e0e0e0;
  height: 2px; }

.copyright {
  background-color: #4B4B4B;
  color: #e0e0e0;
  font-size: 16px;
  letter-spacing: 0.5px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700; }

/*Scroll-bar*/
/*::-webkit-scrollbar {
    width: 10%;
}*/
@media only screen and (max-width: 1200px) {
  .footer-container {
    height: auto;
    display: flex;
    flex-direction: column; }
  .social-media {
    padding: 15px; }
  .working-hours {
    padding: 15px;
    text-align: center;
    margin-bottom: 10px; }
  .info-button {
    justify-content: center;
    align-items: center; } }

/*Media query for mobile*/
@media only screen and (max-width: 600px) {
  .footer-container {
    height: auto;
    display: flex;
    flex-direction: column; }
  .social-media {
    padding: 15px; }
  .working-hours {
    padding: 15px;
    text-align: center; }
  .info {
    text-align: justify;
    inline-size: 80%; }
  .info-button {
    justify-content: center;
    align-items: center; } }
